.title-app {
  display: flex;
  justify-content: center;
}

.table-todos-area {
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 5em;
}

.input-search {
  width: 30%;
  height: auto;
  margin: auto;
  margin-top: 2.5em;
  display: flex;
  justify-content: space-between;
}

.buttons-action-area button {
  margin: 0 10px;
}
